<div layout="row" layout-fill flex>
    <div flex layout="column">
        <md-card flex>
            <md-card-content>
                Card 1
            </md-card-content>
        </md-card>

        <div layout="row" flex layout-wrap layout-align="space-between">
            <md-card flex flex-xs="45">
                <md-card-content>
                    Card 2
                </md-card-content>
            </md-card>
            <md-card flex flex-xs="45">
                <md-card-content>
                    Card 3
                </md-card-content>
            </md-card>
            <md-card flex flex-xs="100">
                <md-card-content>
                    Card 4
                </md-card-content>
            </md-card>
        </div>

        <md-card flex>
            <md-card-content>
                Card 5
            </md-card-content>
        </md-card>
    </div>
</div>