<div layout="row" layout-fill flex>
    <div flex layout="column">
        <md-card flex>
            <md-card-content>
                Card 1
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                Card 2
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                Card 3
            </md-card-content>
        </md-card>
    </div>
    <div flex="25" layout="column" hide-xs>
        <md-card flex>
            <md-card-content>
                Card 4 Hides
            </md-card-content>
        </md-card>
    </div>
</div>