<div flex layout="column" layout-fill>
    <div flex-gt-sm="33" flex="50" layout="column" layout-gt-sm="row">
        <div layout="row" flex>
            <md-card flex="50">
                <md-card-content>
                    Card 1
                </md-card-content>
            </md-card>

            <md-card flex="50">
                <md-card-content>
                    Card 2
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" flex>
            <md-card flex="50">
                <md-card-content>
                    Card 3
                </md-card-content>
            </md-card>

            <md-card flex="50">
                <md-card-content>
                    Card 4
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div flex layout="column" layout-fill>
        <md-card flex>
            <md-card-content>
                Card 5
            </md-card-content>
        </md-card>
    </div>
</div>