<div flex layout="column" layout-fill>
    <div flex layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                Card 1
            </md-card-content>
        </md-card>

        <md-card flex>
            <md-card-content>
                Card 2
            </md-card-content>
        </md-card>
    </div>
    <div flex layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                Card 3
            </md-card-content>
        </md-card>

        <md-card flex>
            <md-card-content>
                Card 4
            </md-card-content>
        </md-card>
    </div>
</div>
