<div layout="column" layout-fill flex>
    <div flex="66" layout="column" layout-gt-xs="row">
        <div flex layout="column">
            <md-card flex>
                <md-card-content>
                    Card 1
                </md-card-content>
            </md-card>
            <md-card flex>
                <md-card-content>
                    Card 2
                </md-card-content>
            </md-card>
        </div>
        <md-card flex>
            <md-card-content>
                Card 3
            </md-card-content>
        </md-card>
    </div>
    <div flex layout="column" layout-fill>
        <md-card flex>
            <md-card-content>
                Card 4
            </md-card-content>
        </md-card>
    </div>
</div>