<div layout="column" layout-fill flex>
    <div flex layout="row" layout-xs="column" layout-fill>
        <div layout="column" flex="33" flex-xs="25">
            <md-card flex>
                <md-card-content>
                    Card 1
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33" flex-xs="25">
            <md-card flex>
                <md-card-content>
                    Card 2
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33" flex-xs="50">
            <md-card flex>
                <md-card-content>
                    Card 3
                </md-card-content>
            </md-card>
            <md-card flex>
                <md-card-content>
                    Card 4
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>