<div flex layout="row" layout-align="space-between" layout-padding layout-fill layout-wrap>
    <md-card flex="30" flex-xs="45">
        <md-card-content>
            Card 1
        </md-card-content>
    </md-card>
    <md-card flex="30" flex-xs="45">
        <md-card-content>
            Card 2
        </md-card-content>
    </md-card>
    <md-card flex="30" flex-xs="45">
        <md-card-content>
            Card 3
        </md-card-content>
    </md-card>
    <md-card flex="30" flex-xs="45">
        <md-card-content>
            Card 4
        </md-card-content>
    </md-card>
    <md-card flex="30" flex-xs="45">
        <md-card-content>
            Card 5
        </md-card-content>
    </md-card>
    <md-card flex="30" flex-xs="45">
        <md-card-content>
            Card 6
        </md-card-content>
    </md-card>
    <md-card flex="30" flex-xs="45">
        <md-card-content>
            Card 7
        </md-card-content>
    </md-card>
    <md-card flex="30" flex-xs="45">
        <md-card-content>
            Card 8
        </md-card-content>
    </md-card>
    <md-card flex="30" flex-xs="95">
        <md-card-content>
            Card 9
        </md-card-content>
    </md-card>
</div>