<div layout="column" layout-fill flex>
    <div flex="50" layout="row">
        <md-card flex="33">
            <md-card-content>
                Card 1
            </md-card-content>
        </md-card>

        <md-card flex="66">
            <md-card-content>
                Card 2
            </md-card-content>
        </md-card>
    </div>
    <div flex layout="column" layout-fill>
        <md-card flex>
            <md-card-content>
                Card 3
            </md-card-content>
        </md-card>
    </div>
</div>