<md-card class="watch-list-steps">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <span class="md-headline" ma-tr="deviceConfig.addDevice"></span>
      <div flex></div>
    </div>
  </md-toolbar>
  <md-card-content class="ma-no-padding">
    <md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.selectedTab">
      <md-tab id="connection">
        <md-tab-label><span ma-tr="deviceConfig.connection"></span></md-tab-label>
        <md-tab-body>
          <div ng-include="$ctrl.baseUrl('/connection.html')" class="md-padding" layout="column"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="device-type" ng-disabled="$ctrl.connectionForm.$invalid">
        <md-tab-label><span ma-tr="deviceConfig.selectDevice"></span></md-tab-label>
        <md-tab-body>
          <div ng-include="$ctrl.baseUrl('/selectDevice.html')" class="md-padding" layout="column"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="device-config" ng-disabled="$ctrl.connectionForm.$invalid || !($ctrl.deviceConfig.slaveId && $ctrl.deviceConfig.name)" md-on-select="$ctrl.readRegisters()">
        <md-tab-label><span ma-tr="deviceConfig.deviceConfig"></span></md-tab-label>
        <md-tab-body>
          <div ng-include="$ctrl.baseUrl('/deviceConfig.html')" class="md-padding" layout="column"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="nameAndSave" ng-disabled="$ctrl.connectionForm.$invalid || !($ctrl.deviceConfig.slaveId && $ctrl.deviceConfig.name)">
        <md-tab-label><span ma-tr="deviceConfig.nameAndSave"></span></md-tab-label>
        <md-tab-body>
          <div ng-include="$ctrl.baseUrl('/nameAndSave.html')" class="md-padding" layout="column"></div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary md-raised" ng-click="$ctrl.prevStep()" ng-hide="$ctrl.selectedTab === 0"><md-icon>arrow_back</md-icon>&nbsp;<span ma-tr="ui.app.prevStep"></span></md-button>
    <md-button class="md-primary md-raised" ng-click="$ctrl.nextStep()" ng-hide="$ctrl.isLastStep()" ng-disabled="$ctrl.isNextDisabled()"><md-icon>arrow_forward</md-icon>&nbsp;<span ma-tr="ui.app.nextStep"></span></md-button>
    <md-button class="md-primary md-raised" ng-click="$ctrl.save($event)" ng-show="$ctrl.isLastStep()" ng-disabled="$ctrl.templateVariablesForm.$invalid"><md-icon>save</md-icon>&nbsp;<span ma-tr="common.save"></span></md-button>
  </md-card-actions>
</md-card>
