<div layout layout-align="start center">
    <md-input-container flex ng-if="$ctrl.showOidInput">
        <label ma-tr="dsEdit.snmp.oid"></label>
        <input ng-model="$ctrl.oid" ng-change="$ctrl.read()" ng-model-options="{debounce: 1000}">
    </md-input-container>
    
    <md-input-container flex>
        <label ng-if="$ctrl.label" ng-bind="$ctrl.label"></label>
        <label ng-if="!$ctrl.label" ma-tr="snmp.ui.oidValueLabel"></label>
        <input ng-model="$ctrl.value" ng-disabled="!$ctrl.writable">
        <md-button class="ma-input-button md-icon-button" ng-click="$ctrl.read()" ng-disabled="!$ctrl.oid || !$ctrl.dataSourceXid">
            <md-icon>refresh</md-icon>
            <md-tooltip ma-tr="snmp.ui.read"></md-tooltip>
        </md-button>
    </md-input-container>
    
    <md-button ng-if="$ctrl.writable" class="md-raised ma-progress-button" ng-click="$ctrl.write()" ng-disabled="!$ctrl.oid || !$ctrl.dataSourceXid">
        <div layout layout-align="start center">
            <md-icon ng-hide="$ctrl.writePromise">edit</md-icon>
            <md-progress-circular ng-show="$ctrl.writePromise" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
            <span ma-tr="snmp.ui.write"></span>
        </div>
    </md-button>
</div>

<div ng-if="$ctrl.error" md-colors="{color: 'warn'}" ng-bind="$ctrl.error"></div>
